body {
	background-image: url('./sysimages/bodyBGint.jpg');
}
.HeaderDiv {
	height: 188px;
	background-image: url('./sysimages/headerBGint.png');
}
.logo {
	margin: 42px 0 0 18px;
}
.modalBackground {
	background-color: #1e407e;
	/*filter: alpha(opacity=50);*/
	filter: opacity(50%);
	opacity: 0.7;
}
.modalWindowOn {
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 4px #313131;
	box-shadow: 4px 4px 4px #313131;
	behavior: url("./PIE.htc");
	min-width: 400px;
	min-height: 230px;
	background: white!important;
	padding: 10px;
	z-index: 9999;
	border: 1px solid #feba01;
}
.modalWindowOnLogin {
	border-radius: 5px;
	position: absolute;
	top: 400px;
	left: 400px;
	right: 0;
	bottom: 0;
	-webkit-box-shadow: 4px 4px 4px #313131;
	box-shadow: 4px 4px 4px #313131;
	behavior: url("./PIE.htc");
	width: 460px;
	height: 230px;
	background: white!important;
	padding: 10px;
	z-index: 9999;
	border: 1px solid #feba01;
}
.modalWindowOff {
  display: none;
}